<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/speaker/listSpeakers">Show Speakers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/speaker/addSpeaker">Add Speaker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/event/listEvents">Show Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/event/addEvents">Add Event</a>
                </li>
            </ul>
            <a href="/logout" class="btn btn-danger my-2 my-lg-0">Log out</a>
        </div>
    </nav>
