<%- include("../head") %> 

<div class="container mt-4">
    <h1>Welcome MR. Mahmoud </h1>
    <% if (data) {%>
        <br>
        <h3>notifications</h3>
        <br>

        <div style="text-transform: capitalize;">
            <% for (i of data) {%>
                <%- i.status  %> 
                <br>
                <br>
                <br>
            <% } %>
        </div>
    <% } %>
</div>

<%- include("../scripts") %> 
</body>

</html>