<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class="container mt-4">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" class="form-control" name="userName" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="userPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h3 style="margin-top: 30px;">not a user yet ? <a href="/register">Sign Up Now !</a></h3>
    </div>
    
    <h1 style="color:red;font-weight:bold;text-transform: uppercase;">
        <% if (message) { %>
            <%= message %> 
        <% } %> 
    </h1>

    <%- include("../scripts") %>
</body>

</html>